@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3f3f3;
    font-family:Pretendard,sans-serif;
    padding:30px;
}

.container{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.editor{
    width:360px;
    background:#fff;
    padding:28px;
    border-radius:24px;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.editor h1{
    font-size:42px;
    margin-bottom:8px;
}

.subtitle{
    font-size:13px;
    color:#666;
    margin-bottom:20px;
}

.editor label{
    display:block;
    margin-top:14px;
    margin-bottom:6px;
    font-weight:600;
    font-size:14px;
}

textarea,
input[type="text"],
select{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#f6f6f6;
    font-size:14px;
    font-family:inherit;
}

textarea{
    height:120px;
    resize:none;
}

input[type="file"]{
    width:100%;
}

input[type="range"]{
    width:100%;
}

input[type="color"]{
    width:100%;
    height:42px;
    border:none;
    cursor:pointer;
    background:none;
}

button{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#111;
    color:#fff;
    font-weight:700;
    cursor:pointer;
}

.preview{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

#card{
    width:550px;
    height:550px;
    background:#dedede;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    box-shadow:0 20px 50px rgba(0,0,0,.08);
    flex-shrink:0;
}

#card.portrait{
    width:550px;
    height:688px;
}

#bgLayer{
    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
}

.content{
    position:absolute;
    inset:0;
    z-index:2;
}

.quote-area{
    position:absolute;
    left:55px;
    top:95px;
    width:440px;
}

#previewQuote{
    width:440px;
    font-size:24px;
    line-height:1.8;
    text-align:left;
    white-space:pre-wrap;
    word-break:keep-all;
    overflow-wrap:break-word;
}

#quoteLine{
    width:300px;
    height:1px;
    background:#111;
    margin-top:35px;
}

#previewInfo{
    margin-top:14px;
    font-size:13px;
    letter-spacing:.05em;
    text-align:left;
}

.site-decoration{
    position:fixed;
    left:65%;
    bottom:30px;
    transform:translateX(-50%);
    z-index:999;
    pointer-events:none;
}

.site-decoration img{
    width:140px;
}

@media(max-width:1200px){

    body{
        padding:20px;
    }

    .container{
        flex-direction:column;
    }

    .editor{
        width:100%;
    }

    .preview{
        width:100%;
    }

    #card{
        width:550px;
        max-width:100%;
        height:550px;
    }

    #card.portrait{
        height:688px;
    }
}
